.contenedor-btn{
    padding-right: 18vh;
}
.valida{
    color: red;
    display: none;
    margin-bottom: 10px;
}
aside{
    margin-top: 70px;
}
.content{
    position:relative;
    top:130px;
}
.confir{
    color: red;
    display: block;
    margin: 10px 0px 10px 0px;
}