.main-content {
    margin-left: 50px;
    padding: 20px;
    padding-top: 100px;
    margin-top: 0px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}

.main-content.shifted {
    margin-left: 250px;
}

aside{
    padding-top: 180px !important;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.filter-item {
    flex: 1;
    background-color: #e6e6e6; /* Fondo del cuadro */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

.filter-item label {
    display: block;
    margin-bottom: 5px;
}

.filter-item select, 
.filter-item input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #e6e6e6; /* Mismo color que el cuadro */
}

.filter-item select:focus, 
.filter-item input:focus {
    outline: none;
    border-color: #999; /* Opción para cambiar el borde en foco */
}

/* Botón de reporte */
.btn-report {
    align-self: flex-start;
    background-color: #29a69a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-report:hover {
    background-color: #21867a;
}
