* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
    background-color: rgba(245, 241, 244, 0.9); 
    padding-bottom: 50px;
}
aside{
    margin-top: 70px;
}

.titulo-datos {
    margin-bottom: 20px; 
    margin-left: 30px;
    padding: 20px;
}

.titulo-datos h3 {
    font-size: 1.5em; 
    color: #000000; 
}

.contenedor-subformulario {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    margin-left: 30px;
    width: 95%;
}

.agrupador-cuadros {
    flex: 1 1 calc(33.33% - 20px); 
    box-sizing: border-box; 
    padding: 15px; 
    background-color: #a3b9d3; 
    border-radius: 2px; 
    transition: background-color 0.3s; 
    border:1px solid black;
}

.agrupador-cuadros2 {
    flex: 1 1 calc(33.33% - 20px); 
    box-sizing: border-box; 
    padding: 15px; 
    background-color: rgba(245, 241, 244, 0.9); 
    transition: background-color 0.3s; 
}

label {
    display: block; 
    margin-bottom: 8px; 
    color: #000000; 
}

input[type="text"],
input[type="date"],
input[type="email"],
select {
    width: 95%; 
    padding: 10px; 
    background-color: #a3b9d3; 
    border: none; 
    font-size: 1em; 
    border: 2px solid transparent; 
    color: #1d2a61; 
    outline: none; 
}

input[type="text"]{
    
    border: none; /* Quita todos los bordes */
    border-bottom: 1px solid black; /* Solo borde inferior */
    outline: none; /* Elimina el borde adicional al enfocar */
    padding: 8px; /* Agrega espacio interno si es necesario */
}

select option {
    background-color: #ffffff; 
    color: #1d2a61; 
}

upload-input{
    font-size: 8px;
}

.boton {
    width: 100%; 
    padding: 20px; 
    background-color: #29a69a;
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s; 
}

.boton i {
    margin-right: 8px; 
}

.boton:hover {
    background-color: #176b63;
}

.btn-si {
    color: white; 
    width: 40px;
    padding: 10px;
    justify-content: center;
}

.btn-no {
    color: white; 
    width: 40px;
    padding: 10px;
    justify-content: center;
}

.estilo-btn {
    display: flex; 
    justify-content: center; 
    gap: 40px; 
    padding-left: 60px;
    padding-top: 30px;
    padding-right: 60px;
}

.btn-guardar, .btn-cancelar {
    padding: 15px 20px; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s; 
    flex-grow: 1;
}

.btn-guardar {
    background-color: #28a745; 
}

.btn-guardar:hover {
    background-color: #218838; 
}

.btn-cancelar {
    background-color: #dc3545; 
}

.btn-cancelar:hover {
    background-color: #c82333; 
}
.div_validador{
    background-color: rgb(234, 121, 121);
    border-radius: 5px;
    border: 1px solid rgb(113, 56, 56);
    padding: 8px;
    display: none;
    width:100%;
    margin: auto;
    margin-bottom: 20px;
}

#botonBack{
    padding: 10px;
    background-color: rgb(41, 166, 154);
    border: none;
    margin-right: 28px;
    text-decoration: none;
    color:white;
}

#botonBack:hover {
    background-color: #176b63;
}
#but_cancelar{
    text-decoration: none;
    text-align: center;
}